@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
* {
  box-sizing: border-box;
}


h1 {
  margin-top: 0;
  text-align: center;
}

p {
  margin: 0 0 1.5rem;
	color: white;
}

li {
  margin: 0 0 1.5rem;
	color: white;
}


main {
  max-width: 960px;
  margin: 2rem auto;
  background-color: #FFF;
  padding: 1.25em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CCC;
    margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  background-color: BLACK;
}
.card h2 {
  margin: 0 0 1rem;
  text-align: center;
	color: white;
}
.card figure {
  height: 200px;
  width:auto;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 50px;
  border-radius: 5px;
  background-color: #006BC3; 
}
.button:hover {
  background: #063a88;
}
.ribbon {
  position:relative;
  height:0;
  width:60%;
  border-top: 20px solid #530070;
  border-right: 0px solid #530070;
  border-bottom: 20px solid #530070;
  border-left: 80px solid transparent;
  max-width: 700px;
	     top: -10px;
     left: 60px;
}
 
 .ribbon-text {
     color :#fff;
     font-size: 1.6em;
     text-align: center;
     position: relative;
     margin: 0 10px 60px 0;
     width: 80%;
     top: -13px;
     left: 5px;
     font-family: 'Arimo', sans-serif;
 }

.about{
  margin: auto;
  width: 70%;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #272727;
}

.about h1{
  	text-align: left;
	color: white;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  margin: auto;
  height: 320px; /* Should be removed. Only for demonstration */
  background-color: #2E2E2E;
	font-size: 20px;
	font-style: normal;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

/* Clear floats after the columns */
.row:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both; background-color: #2E2E2E;
}